.container{
 width: 100%;
 height: auto;
 background: #007bbf;





 





}



body{
    background-color:sienna 
    


}

.signup-box{
     width: 360px; 
     height:620px; 
     margin: auto;
     background-color:peru;
     border-radius: 3px;
     
}
.login-box{
width:360px;
height:280px;
margin: auto;
border-radius: 3px;
background-color:peru;


}
h1{ 
    text-align: center;
    padding-top: 15px;



}

form{
     width: 300px;
     margin-left: 20px;
     text-align: center;






    }
form label{


display: flex;
margin-top: 20px;
font-size: 18px; 
}





form input{

width: 100%;
padding: 7px;
border: none;
border: 1px solid gray;
border-radius: 6px;
outline: none;



}
   

input[type="button"]{
 width: 320px;
 height:35 px;
 margin-top: 20px;
 border: none;
 background-color:gainsboro;
 font-size: 18px;
 


}

   

